<div id="layout-wrapper">
  <app-header></app-header>
  <app-navbar></app-navbar>

  <div class="main-content">

    <!-- Page Content Start -->
    <div class="page-content">
      <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
              <h4 class="mb-0">Dashboard</h4>
              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="javascript: void(0);">Konsult</a></li>
                  <li class="breadcrumb-item active">Dashboard</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-lg-12 mb-30">
            <div class="card dashboard-box">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4 mb-0">
                    <div class="media statistics">
                      <span>
                        <img src="../../assets/images/icons/earning-icon2.png" alt="" >
                      </span>
                      <div class="media-body align-self-center overflow-hidden">
                        <div class="text-left">
                          <h4 class="text-truncate">Earnings</h4>
                          <h1><i class="fa fa-usd" aria-hidden="true"></i> 84521</h1>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 mb-10">
                    <div class="media statistics">
                      <span><img src="../../assets/images/icons/views-icon.png" alt="" ></span>
                      <div class="media-body align-self-center overflow-hidden">
                        <div class="text-left">
                          <h4 class="text-truncate">Views</h4>
                          <h1>84521</h1>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 mb-10">
                    <div class="media statistics">
                      <span><img src="../../assets/images/icons/reviews-icon.png" alt="" ></span>
                      <div class="media-body align-self-center overflow-hidden">
                        <div class="text-left">

                          <h4 class="text-truncate">Reviwes</h4>
                          <h1>84521</h1>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-4 mb-30">
            <div class="card dashboard-box">
              <div class="card-body">
                <div class="media">
                  <div class="media-body align-self-center overflow-hidden">
                    <div class="text-center">
                      <img src="../../assets/images/icons/payout-icon.png" alt="" class="avatar-md">
                      <h5 class="text-truncate">Connect a payout method</h5>
                      <p>Your page is currently private. Connect your PayPal or Stripe account to start receiving payments.</p>
                      <div class="form-group m-0">
                        <a style="cursor: pointer;" routerLink="/payment-setting">
                          <button type="button" class="btn btn-dashboard waves-effect waves-light">Connect</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-30">
              <div class="card dashboard-box">
                <div class="card-body">
                  <div class="media">
                    <div class="media-body align-self-center overflow-hidden">
                      <div class="text-center">
                        <img src="../../assets/images/icons/profile-page-icon.png" alt="" class="avatar-md">
                        <h5 class="text-truncate">Complete your page</h5>
                        <p>Add a photo, one-liner, and a little bit about you. See some beautiful examples here, here, and here.</p>
                        <div class="form-group m-0">
                          <a style="cursor: pointer;" routerLink="/profile">
                            <button type="button" class="btn btn-dashboard waves-effect waves-light">Connect</button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-30">
              <div class="card dashboard-box">
                <div class="card-body">
                  <div class="media">
                    <div class="media-body align-self-center overflow-hidden">
                      <div class="text-center">
                        <img src="../../assets/images/icons/setgoal-icon.png" alt="" class="avatar-md">
                        <h5 class="text-truncate">Set a goal - Set price for consulting</h5>
                        <p>Pages with goals consistently attract more supporters. Add some goals and let them be a part of your creative journey.</p>
                        <div class="form-group m-0">
                          <a style="cursor: pointer;" routerLink="/payment-setting">
                            <button type="button" class="btn btn-dashboard waves-effect waves-light">Connect</button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-4 mb-30">
              <div class="card dashboard-box">
                <div class="card-body">
                  <div class="media">
                    <div class="media-body align-self-center overflow-hidden">
                      <div class="text-center">
                        <img src="../../assets/images/icons/social-iocn.png" alt="" class="avatar-md">
                        <h5 class="text-truncate">
                          Link from your social bio and descriptions
                        </h5>
                        <p>Keep your BMC link where your followers can find them. Most creators add it as their primary bio link on Twitter, Instagram, Linktree, Youtube description, etc.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-4 mb-30">
              <div class="card dashboard-box">
                <div class="card-body">
                  <div class="media">
                    <div class="media-body align-self-center overflow-hidden">
                      <div class="text-center">
                        <img src="../../assets/images/icons/announce-page-icon.png" alt="" class="avatar-md">

                        <h5 class="text-truncate">Announce your page</h5>
                        <p>This is usually how creators earn their first set of supporters. Make it unique, and maybe even offer something in return. See some examples here.</p>
                        <div class="form-group text-left m-0">
                          <a style="cursor: pointer;">
                            <button type="button" class="btn btn-dashboard waves-effect waves-light mr-1">Tweet</button>
                          </a>
                          <a>
                            <button type="button" class="btn btn-dashboard waves-effect waves-light mr-1">Share</button>
                          </a>
                          <a>
                            <button type="button" class="btn btn-dashboard waves-effect waves-light mr-1">Gifs</button>
                          </a>
                          <a>
                            <button type="button" class="btn btn-dashboard waves-effect waves-light">Download Creator Kit</button>
                          </a>
                        </div>

                        <div class="form-group text-left mt-3">
                          <div class="input-group mb-3">
                            <input type="text" class="form-control input-field" placeholder="Url Of user" value="https://konsult.com/krishnakola">
                            <div class="input-group-append">
                              <button class="btn btn-primary" type="button">Copy</button>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div> <!-- container-fluid -->
      </div>
      <!-- End Page-content -->

    <app-footer></app-footer>
  </div>
</div>
